<header class="bg-black text-white body-font">
      <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center font-bold">
        <a href="{% url 'home' %}" class="flex title-font font-large items-center text-white mb-4 md:mb-0">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 rounded-full hover:text-red-900" viewBox="0 0 24 24">
            <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
          </svg>
          <span class="ml-3 text-white text-2xl hover:text-red-900"> Стрелям </span>
        </a>
        <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-white-400 flex flex-wrap items-center text-2xl justify-center">
          <a href="{% url 'spots' %}" class="text-white mr-5 hover:text-red-900">Ловни стопанства</a>
          <a href="{% url 'map' %}" class="text-white mr-5 hover:text-red-900">Карта</a>          
          <a href="{% url 'animal' %}" class="text-white mr-5 hover:text-red-900">Животни за лов</a>          
        </nav>        
      </div>
    </header>