<script>
  var dataurl = '{% url "data" %}';

  window.addEventListener("map:init", function (event) {
    var map = event.detail.map;
    // Download GeoJSON data with Ajax
    fetch(dataurl)
      .then(function (resp) {
        return resp.json();
      })
      .then(function (data) {
        L.geoJson(data, {
          onEachFeature: function onEachFeature(feature, layer) {
            var props = feature.properties;
            var content = `<a href=${props.hardurl}/><img width="300" src="${props.picture_url}"/><h2>${props.title}</h2><p>${props.description}</p></h2>`;
            layer.bindPopup(content);
          },
        }).addTo(map);
      });
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==" crossorigin="anonymous"></script>
<script>
  AOS.init({
    delay:200,
    duration:1200,
    once: false,
  })
</script>
